body {
  background: url('https://i.ytimg.com/vi/aiU22lKiZbA/maxresdefault.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgb(49, 182, 206);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#pause-screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  justify-content: center;
}
#pause-screen h1 {
  color: #fff;
  align-self: center;
}

#progress-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    45deg,
    rgb(10, 10, 10),
    rgb(15, 15, 15),
    rgb(20, 20, 20),
    rgb(30, 30, 30),
    rgb(40, 40, 40),
    rgb(50, 50, 50)
  );
  display: flex;
  /* background: #000; */
  border: 2px solid #000;
  position: absolute;
  justify-self: center;
  justify-content: center;
  align-self: center;
  align-items: center;
}

#progress {
  width: 1000px;
  height: 20px;
  background: rgb(49, 182, 206);
  border: none;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* .no-cursor {
  cursor: none
} */

#hudContainer {
  z-index: 1337;
  display: none;
  flex-direction: row;
  background: url('/images/hud.png');
  height: 20%;
  width: 100%;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  /* text-align: center; */
  opacity: 0.6;
  position: absolute;
  /* justify-content: space-around; */
}
.hudUserName {
  display: flex;
  color: #fff;
  font-size: 1vw;
  margin-top: 15px;
  position: absolute;
  width: 33%;
  justify-content: center;
  /* margin-left: 9%;  */
}
.hudScore {
  display: flex;
  color: #fff;
  font-size: 1vw;
  margin-top: 35px;
  position: absolute;
  width: 100%;
  justify-content: center;
}
.hudTime {
  display: flex;
  color: #fff;
  font-size: 1vw;
  margin-top: 15px;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  margin-left: -13%;
}

#pause-screen img {
  width: 300px;
  height: 300px;
  border: solid 1px black;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 4vh;
  margin-bottom: 30vh;
}
.Menu button {
  border: 3px solid rgb(0, 218, 213);
  background: rgb(33, 70, 72);
  color: rgb(0, 218, 213);
  transition: all 0.3s ease-out;
  border-radius: 7px;
  font-size: 1.8vw;
  font-weight: bold;
  width: 30vw;
  height: 7vh;
  margin: 10px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
.Menu button:hover {
  background: rgb(0, 218, 213);
  color: rgb(33, 70, 72);
  border: 3px solid rgb(33, 70, 72);
}
#blocker a {
  border: 3px solid rgb(0, 218, 213);
  background: rgb(33, 70, 72);
  color: rgb(0, 218, 213);
  transition: all 0.3s ease-out;
  border-radius: 7px;
  font-size: 1.8vw;
  font-weight: bold;
  width: 30vw;
  height: 7vh;
  margin: 10px;
  text-align: center;
  padding: 5px;
}
#blocker a:hover {
  background: rgb(0, 218, 213);
  color: rgb(33, 70, 72);
  border: 3px solid rgb(33, 70, 72);
}
/* .Menu h1 {
  font-size: 2.8vw;
  font-weight: 500;
  color: rgb(0, 218, 213);
  margin-bottom: 8vh;
  text-shadow: 2px 2px rgb(33, 70, 72);
} */

.Menu img {
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  width: 30vw;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 4vh;
  margin-bottom: 30vh;
}

.Login button,
.Login input,
.Login a:visited,
.Login a {
  border: 2px solid rgb(0, 218, 213);
  background: rgb(33, 70, 72);
  color: rgb(0, 218, 213);
  transition: all 0.3s ease-out;
  border-radius: 7px;
  font-size: 1.8vw;
  font-weight: bold;
  width: 30vw;
  padding: 5px;
  height: 7vh;
  margin: 10px;
  text-align: center;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
}

.Login a:visited,
.Login a {
  border: none;
}

.Login small,
.Login a:link {
  color: rgb(0, 218, 213);
  font-size: 1.8vw;
  font-weight: bold;
  width: 30vw;
  padding: 5px;
  height: 7vh;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.Login button:hover,
.Login a:hover {
  background: rgb(0, 218, 213);
  color: rgb(33, 70, 72);
  /* border: 3px solid rgb(33, 70, 72); */
}

.fade {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  text-shadow: 5px 5px rgb(33, 70, 72);
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

#blocker {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

#game-over {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  z-index: '';
}

#game-over-hide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}


#instructions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.gameover-details {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
}

.ReturnButton {
  position: absolute;
  z-index: 100;
  margin: 2%;
}

.backArrow {
  font-size: 40px;
  line-height: 40px;

  width: 1em;
  height: 1em;
  padding: 6px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: rotate(180deg);

  background: rgb(33, 70, 72);
  color: rgb(0, 218, 213);
  border: 2px solid rgb(0, 218, 213);
  border-radius: 50%;
  transition: all 0.3s ease-out;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
}
.backArrow:hover {
  background: rgb(0, 218, 213);
  color: rgb(33, 70, 72);
  border: 2px solid rgb(33, 70, 72);
}
.backArrow:active {
  position: relative;
  right: 2px;
}

.HowToPlay {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 0vh;
  margin-bottom: 30vh;
  justify-content: center;
  text-align: center;
}
.HowToPlay h1 {
  font-size: 2.8vw;
  font-weight: 500;
  color: rgb(0, 218, 213);
  margin-bottom: 8vh;
  text-shadow: 2px 2px rgb(33, 70, 72);
}

.topScores {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 3vh;
  margin-bottom: 30vh;
  justify-content: center;
  text-align: center;
  font-size: 1.2vw;
  color: rgb(0, 218, 213);
}

td {
  border: 2px solid rgb(0, 218, 213);
  background: rgb(33, 70, 72);
  padding: 1vw;
}

th {
  color: rgb(33, 70, 72);
  background: rgb(0, 218, 213);
  padding: 1vw;
}

.preloader-1 {
  /* margin: 100px auto 0; */
  width: 120px;
  height: 55px;
  color: rgb(0, 218, 213);
  margin: 5px;
  text-transform: uppercase;
  text-align: center;

  font-size: 26px;
  letter-spacing: 1px;
  margin-left: 30%;
}

/* div {
  color: #fff;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
} */

.preloader-1 .line {
  width: 5px;
  height: 20px;
  background: rgb(0, 218, 213);
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-1 .line-1,
.preloader-2 .line-1 {
  animation-delay: 800ms;
}
.preloader-1 .line-2,
.preloader-2 .line-2 {
  animation-delay: 700ms;
}
.preloader-1 .line-3,
.preloader-2 .line-3 {
  animation-delay: 600ms;
}
.preloader-1 .line-4,
.preloader-2 .line-4 {
  animation-delay: 500ms;
}
.preloader-1 .line-5,
.preloader-2 .line-5 {
  animation-delay: 400ms;
}
.preloader-1 .line-6,
.preloader-2 .line-6 {
  animation-delay: 300ms;
}
.preloader-1 .line-7,
.preloader-2 .line-7 {
  animation-delay: 200ms;
}
.preloader-1 .line-8,
.preloader-2 .line-8 {
  animation-delay: 100ms;
}
.preloader-1 .line-9,
.preloader-2 .line-9 {
  animation-delay: 100ms;
}
.preloader-1 .line-10,
.preloader-2 .line-10 {
  animation-delay: 200ms;
}
.preloader-1 .line-11,
.preloader-2 .line-11 {
  animation-delay: 300ms;
}
.preloader-1 .line-12,
.preloader-2 .line-12 {
  animation-delay: 400ms;
}
.preloader-1 .line-13,
.preloader-2 .line-13 {
  animation-delay: 500ms;
}
.preloader-1 .line-14,
.preloader-2 .line-14 {
  animation-delay: 600ms;
}
.preloader-1 .line-15,
.preloader-2 .line-15 {
  animation-delay: 700ms;
}
.preloader-1 .line-16,
.preloader-2 .line-16 {
  animation-delay: 800ms;
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-2 {
  0% {
    opacity: 1;
    height: 15px;
  }
  50% {
    opacity: 0;
    height: 12px;
  }
  100% {
    opacity: 1;
    height: 15px;
  }
}
